<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.yanhoor.flickrgallery"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission android:name="com.example.yanhoor.flickrgallery.PRIVATE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.example.yanhoor.photogallery.PRIVATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/flickr"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".controller.MainLayoutActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".controller.AdministratorProfileActivity"/>

        <activity android:name=".controller.SingleFragmentActivity"/>

        <activity android:name=".controller.LogInActivity"/>

        <activity android:name=".controller.WebViewActivity"/>

        <activity android:name=".controller.PhotoDetailActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".controller.UserProfileActivity"/>

        <activity android:name=".controller.ListActivity"/>

        <activity android:name=".controller.GroupProfileActivity"/>

        <activity android:name=".controller.TopicDetailActivity"/>

        <activity android:name=".controller.TopicReplyActivity"/>

        <activity android:name=".controller.UploadPhotoActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".controller.SearchActivity"/>

        <activity android:name=".controller.SearchProcessActivity"/>
        
        <activity android:name=".controller.PhotoViewActivity"/>

        <activity android:name=".controller.PhotosetDetailActivity"/>

        <activity android:name=".controller.FavoritePhotosActivity"/>

        <service android:name=".controller.PollService"/>

        <receiver android:name=".controller.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".controller.NotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.example.yanhoor.photogallery.SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>